    .navbar {
        background: url(/static/image/header.gif) left top repeat-x;
        height: 76px;
        position: fixed;
    }

    .nav {
        margin-top: 18px;
        font-family: verdana, Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .navbar-brand {
        float: left;
        font-family: verdana, Arial, Helvetica, sans-serif;
        font-size: 30px;
        margin-top: 10px;
    }
